#content {
  min-width: 400px;
}

img {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  #sidebar {
    position: fixed;
    padding: 20px;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: white;
  }

  #sidebar a {
    padding: 20px;
  }

  #sidebar li {
    display: inline-block;
  }

  #content {
    margin-top: 150px;
  }
}

@media (min-width: 1000px) {
  #sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
  }

  body {
    padding-left: 200px;
  }

  #content {
    width: 800px;
    margin: 0 auto;
  }

  .floatright {
    float: right;
  }

  .floatleft {
    float: left;
  }
}
